@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root,
:host {
  --md-sys-color-background: #f9f9fd;
  --md-sys-color-on-background: #1a1c1f;
  --md-sys-color-surface: #f9f9fd;
  --md-sys-color-surface-dim: #d9dade;
  --md-sys-color-surface-bright: #f9f9fd;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f3f3f7;
  --md-sys-color-surface-container: #ededf2;
  --md-sys-color-surface-container-high: #e8e8ec;
  --md-sys-color-surface-container-highest: #e2e2e6;
  --md-sys-color-on-surface: #1a1c1f;
  --md-sys-color-surface-variant: #dee3ec;
  --md-sys-color-on-surface-variant: #42474e;
  --md-sys-color-inverse-surface: #2e3034;
  --md-sys-color-inverse-on-surface: #f0f0f4;
  --md-sys-color-outline: #72777f;
  --md-sys-color-outline-variant: #c2c7d0;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #33618d;
  --md-sys-color-primary: #33618d;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #88b4e5;
  --md-sys-color-on-primary-container: #002744;
  --md-sys-color-inverse-primary: #9ecafc;
  --md-sys-color-secondary: #506072;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #d5e5fc;
  --md-sys-color-on-secondary-container: #3a4a5c;
  --md-sys-color-tertiary: #794f82;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #d09fd8;
  --md-sys-color-on-tertiary-container: #3a1444;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #410002;

  /* Fuentes y estilos generales */
  font-family: 'Roboto', 'Source Sans 3', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--md-sys-color-surface-dim);
  color: var(--md-sys-color-on-primary-container);
}

input,
label {
  display: block;
}

button {
  padding: 0.25em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  border-radius: 5px;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

button:focus,
button:focus-visible {
  transform: scale(1);
  transition: transform 0.3s ease;
}
