.loader {
    position: fixed; /* Usamos `fixed` para que el loader esté siempre en la misma posición, independientemente del scroll */
    display: flex; /* Usamos flexbox para centrar el contenido */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    width: 100px; /* Define el tamaño del contenedor */
    height: 100px; /* Define el tamaño del contenedor */
    margin: 0 auto; /* Centrado en el contenedor padre */
    top: 50%; /* Posición verticalmente centrada */
    left: 50%; /* Posición horizontalmente centrada */
    transform: translate(-50%, -50%); /* Ajuste fino para asegurarse de que el círculo quede perfectamente centrado */
    z-index: 9999; /* Asegura que el loader siempre esté encima de todos los demás elementos */
  }

  .loader:before {
    content: '';
    display: block;
    padding-top: 100%; /* Asegura que el contenedor sea cuadrado */
  }

  .circular {
    animation: rotate 2s linear infinite;
    width: 100%; /* Toma todo el ancho disponible */
    height: 100%; /* Toma toda la altura disponible */
    transform-origin: center center; /* Asegura que la animación rote desde el centro */
    position: absolute;
  }

  .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }

  @keyframes color {
    0%, 100% {
      stroke: var(--md-sys-color-primary); /* Azul primario */
    }
    25% {
      stroke: var(--md-sys-color-secondary); /* Gris secundario */
    }
    50% {
      stroke: var(--md-sys-color-tertiary); /* Púrpura terciario */
    }
    75% {
      stroke: var(--md-sys-color-error); /* Rojo de error */
    }
  }

  body {
    background-color: var(--md-sys-color-background); /* Fondo claro */
    color: var(--md-sys-color-on-background); /* Texto sobre fondo */
  }

  .showbox {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5%;
  }
